@font-face {
    font-family: 'Minecraft';
    src: url(./Minecraft.woff)
}

* {
    font-family: 'Minecraft';
    font-size: 3.5vh;
    color: white;
}

body {
    background-size: 10vw;
    padding: 0;
    margin: 0;
    border: 0;
}

section {
    margin-left: 1vw;
}

.interface { /* for the construction of segmented interfaces */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    align-self: center;
    width: 100vw;
    height: 55vh;
    margin-left: 0vw;
    margin-right: 0vw;
    padding: 0;
    border: 0;
}

.int3middle {
    width: 20vw;
    height: auto;
    place-items: center;
    ;
}

.int3side {
    width: 40vw;
    height: auto;
    place-items: center;
    ;
}

input { /* for input fields and calculated outputs */
    font-size: 2.5vh;
    display: block;
    width: 35vh;
    height: 5.5vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
    margin-bottom: 5vh;
    margin-top: 5vh
}

select { /* for that one dropdown */
    font-size: 2.5vh;
    display: block;
    width: 35vh;
    height: 5.5vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0.5vh;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
    margin-bottom: 5vh;
    margin-top: 5vh;
    size: 4;
}

h1 {
    font-size: 5vh;
}

.homearrow {
    color: #FFFFFF;
    font-size: 3vh;
}

p {
    width: 75vw;
    margin-top: 0%;
    font-size: 3.5vh;
}

.mainparagraph { /* main paragraph in index */
    margin-left: 5vw;
}

ul {
    list-style-type: none;
    margin-left: 5vw;
    padding: 0vw;
}

li a { /* link button formatting */
    display: block;
    width: 50vh;
    height: 5.5vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0.5vh;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
}

li:last-child {
    margin-bottom: 0vh;
}

img {
    display: block;
}

.banner { /* top images on each page */
    width: 100vw;
    height: 12.5vh;
    object-fit: cover;
    padding: 0%;
    margin: 0%;
}

button {
    font-size: 3.01vh;
    display: block;
    width: 35vh;
    height: 6.1vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
}