@font-face {
    font-family: 'Minecraft';
    src: url(./Minecraft.woff)
}

* {
    font-family: 'Minecraft';
    font-size: 3.5vh;
    color: white;
}

body {
    background-size: 10vw;
    padding: 0;
    margin: 0;
    border: 0;
}

section {
    margin-left: 1vw;
}

.interface { /* for the construction of segmented interfaces */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    align-self: center;
    width: 100vw;
    height: 55vh;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 0;
    border: 0;
}

.int3middle { /* for the middle of a 3-segment interface */
    width: 20vw;
    height: auto;
    place-items: center;
}

.int3side { /* for the sides of a 3-segment interface */
    width: 40vw;
    height: auto;
    place-items: center;
}

.int3sub { /* for aligning images above exp indicators */
    width: 40vw;
    display: block;
    place-items: center;
}

.int2 { /* for the halves of a 2-segment interface, unused but just in case */
    width: 40vw;
    height: auto;
    place-items: center;
}

.graph { /* for the background of the graph, unused but just in case */
    display: block;
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: #eeeeee;
    margin-right: 7.5vw;
    margin-left: 7.5vw;
    margin-bottom: 3vh;
    box-shadow: inset 0vh -0.5vh #555555;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    box-sizing: border-box;
    place-items: center;
}

input { /* for input fields and calculated outputs */
    font-size: 2.5vh;
    display: block;
    width: 35vh;
    height: 5.5vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
    margin-bottom: 5vh;
    margin-top: 5vh;
    
}

input[type=button] {
    text-align: center;
}

.expindicator, .expindicatormiddle { /* for the exp equivalent things */
    width: 20vh;
    display: inline-block;
    text-align: center;
}

.expindicatormiddle {
    margin-left: 2vw;
    margin-right: 2vw;
}

select { /* for that one dropdown */
    font-size: 2.5vh;
    display: block;
    width: 35vh;
    height: 5.5vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0.5vh;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
    margin-bottom: 5vh;
    margin-top: 5vh;
    size: 4;
}

h1 {
    font-size: 5vh;
}

.homearrow { /* self-explanatory */
    font-size: 3vh;
    text-decoration: none;
}

p {
    width: 75vw;
    margin-top: 0%;
    font-size: 3.5vh;
}

.mainparagraph { /* main paragraph in index */
    margin-left: 5vw;
}

ul {
    list-style-type: none;
    margin-left: 5vw;
    padding: 0vw;
}

li a { /* link button formatting */
    display: block;
    width: 50vh;
    height: 5.5vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0.5vh;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
}

li:last-child {
    margin-bottom: 0vh;
}

img {
    display: block;
}

.banner { /* top images on each page */
    width: 100vw;
    height: 12.5vh;
    object-fit: cover;
    padding: 0%;
    margin: 0%;
}

.expimage { /* for the images used in exp page and similarly sized elements */
    width: 10vw;
    height: auto;
}

button {
    font-size: 3.01vh;
    display: block;
    width: 35vh;
    height: 6.1vh;
    background-color: #ababab;
    background-image: url(../images/elements/stonetransparent.png);
    background-size: 100%;
    outline: 2px solid #000000;
    border: 3px solid #dfdfdf;
    margin-bottom: 3vh;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    line-height: 5.5vh;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: inset 0vh -0.5vh #555555;
    margin-bottom: 5vh;
    margin-top: 5vh;
    text-align: center;
}

/* hovers */

input:hover {
    background-color: #898989;
}

input:hover::placeholder {
    color: white;
}

button:hover {
    background-color: #898989;
}

select:hover {
    background-color: #898989;
}

li a:hover {
    background-color: #898989;
}

/* text styles */ 

.end {
    color: #ff55ff;
}

.nether {
    background: linear-gradient(to right, #ffb800, #ff2e00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience {
    background: linear-gradient(to right, #ffe00e, #00ff21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reference {
    margin-left: 5vw;
    text-indent: -5vw;
}